
h1{
    text-align: center;
    text-decoration: underline red double;
    background-color: aquamarine;
}

a{
    text-decoration: none;
    background-color: burlywood;
}

.box1{
    background-color: yellow;
    width: 40%;
    /* max-width: 40%; */ /*mais usado, altura maxima*/
    height: 200px; 
    min-height: 200px; /*mais usado, largura minima*/
    overflow: auto;
    border-style: solid;
    border-width: 5px;
    /*quando tem só 1 aplica nos 4cantos(top, bottom, left, right);
    quando tem 2 , 1º valor(top, bottom), 2º valor(left, right)
    quando tem 3, 1º valor(top), 2º valor(right), 3º valor(bottom), e no 4º duplica right */
    border-color: green red blue violet;
    /* border: 3px solid green; - forma short hand */
}

.paragr1{
    text-align: justify;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px green; /*esquerda. direita, distorção e cor*/

}

.paragr2{
    text-align: start;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 5px; /*espaçamento das letras*/
    word-spacing: 6px; /*espaçamento das palavras*/
    text-indent: 40px; /*espaço do paragrafo*/
}

.paragr3{
    text-transform: lowercase;
}
