
h1{
    text-align: center;
}

.paragr1{
    text-align: justify;
    text-transform: capitalize;
}

.paragr2{
    text-align: start;
    text-transform: uppercase;
}

.paragr3{
    text-transform: lowercase;
}
