/*CSS externo*/

body{
    background-image: url("../imagens/praia.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center; 
}
h1 {
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
}

p{
    color: #0080007a;
    font-weight: bold;
}

#primeiro{   /* id #(jogo da velha)*/
    color: rgb(255, 192, 203);
}

.noticia{ /* class .(ponto final) */
    color: rgba(210, 105, 30, 0.993);
}